body {
  /* background: linear-gradient(0.85turn,gold,white); */
  background: conic-gradient(
  lightblue 0%,  
  gold 4%,
    white 22%,
    #ff1b6b 23%,
     gold, 37%,
    lightblue 46%,
    #ff1b6b 77%,
    lightblue 83%
  );
  
  /* background: conic-gradient(
    lightblue 0%,
    white 15%,
    gold  33%,
    lightblue 44%
  ); */
  /* background: repeating-conic-gradient(from 0deg, gold 0deg 30deg, white 33deg 60deg, lightblue 63deg 90deg); */
}


p {
  letter-spacing: 0.2pt;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  max-width: 1440px;
  margin: 0px auto;
}


.App-header {
  max-height: 70px;
  display: flex;
  justify-content: center;
  /* border: 1px dashed gold; */
}


nav {
  /* border: 1px dotted lightblue; */
  display: flex;
  
}

nav ul {
  display: flex;
  justify-items: center;
  padding-inline-start: 0;
  padding: 0 8px;
  list-style-type: none;
}


.NavLink {
  background-color: black;
  color: white;
  padding: 8px;
  margin: 0px 4px;
  border: none;
  transition: all 0.15s;
  
}

.NavLink:hover {
  border-right: 4px solid rgb(94, 231, 255);
  left: -4px;
}

/* .NavLink:active {
  border-right: none;

} */


nav a {
  color: white;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .heroImage {
    animation: item-float infinite 3s ease-in-out;
  }
}

@keyframes item-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} 

/* Main */

/* Home */
.heroSection {
  /* border: 1px dashed gold; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.heroButtons {
  border: 1px dashed gold;
  padding: 20px 0;
}

.heroButtons button {
  color: white;
  border-radius: 5px;
  list-style-type: none;
  background-color: black;
  padding: 8px 16px;
  margin: 0px 4px;
  border: none;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.optionalTextSection, .optionalLogoSection, .aboutPageSummary {
  background-color: rgba(255, 217, 0, 0.603);
  padding: 20px;
  opacity: 0.9;
  box-shadow: gray 8px 10px;
  margin-bottom: 30px;
}

.optionalLogoSection {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logoList {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-inline-start: 0;
}

.logoList li {
  /* styles for logo list items */
}

/* Projects */

.Projects {
  display: none;
}

.projectSlider {
  /* border: 2px dashed gold; */
  max-width: 1257px;
  height: 500px;
  margin: 50px auto 100px;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.837) 10px 10px;
  text-align: left;
}

.projectSlide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.projectSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
opacity: 1;
}

.slideDescription {
  z-index: 1;
  min-height: 100%;
  max-width: 35%;
  top: 0;
  right: 0px;
  background-color: white;
  padding: 20px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.152) -2px 5px 5px;

}

@media screen and (max-width: 1257px){
  .projectSlider {
    max-height: 100%;
  }
  
  .projectSlide {
    display: flex;
    flex-wrap: wrap;
  }
  
  .projectSlide img {
    width: 100%;
    object-position: 0;
    object-fit: cover;
  }

  .slideDescription {
    display: relative;
    top: none;
    right: none;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  @media screen and (max-width: 425px) {
    .projectSlider {
      display: none;
    }
    
    .projectSlider .techLabel {
      display: none;
    }
  }


}
  


.btn-slide {
width: 60px;
height: 60px;
border-radius: 50%;
background: #f1f1f100;
border: none;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
z-index: 3;
}

.btn-slide img {
width: 25px;
height: 25px;
pointer-events: none;
}
.prev {
top: 50%;
left: 20px;
transform: translateY(-60%);
}
.next {
top: 50%;
right: 20px;
transform: translateY(-60%);
}


.container-dots {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
display: flex;
z-index: 10;
}
.dot {
width: 20px;
height: 20px;
border-radius: 50%;
margin: 0 5px;
background: black;
}
.dot.active {
background: gold;
}

/* ProjectList & Tiles */

.projectList {
  /* border: 2px dashed gold; */
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectTile {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.892);
  height: 600px;
  width: 400px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.837) 10px 10px;
  text-align: left;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: 500ms all;
}

.projectTile:hover {
  position: relative;
  top: -10px;
  left: -10px;
}

.projectTileImage {
  max-width: 100%;
  height: 38%;
  border-radius: 15px 15px 0 0;
}

.projectTileContent {
padding: 20px;
height: 30%;

}

.catLabel {
  font-style: italic;
}

.catFrontend::before {
  content: '> ';

}

.catBackend::after {
  content: ' <';
}

.catFullstack::before {
  content: '< '
}

.catFullstack::after {
  content: ' >'
}

.projectTileTech {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 20px;
  flex-wrap: wrap;
}

.techLabel {
  padding: 4px 8px;
  box-shadow: black 2px 3px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: brown;
  color: white;
  margin:  0 8px 8px 0;
}

.techJS {
  background-color: rgb(255, 217, 0);
  color: black;
}

.techReact {
  background-color: rgb(114, 224, 255)
}

.techRedux {
  background-color: blueviolet;
}

.techHTML {
  background-color: rgb(204, 43, 7);
}

.techCSS {
  background-color: rgb(3, 76, 201);
}

/* Project */

@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(0deg);
  }
}

.projectContainer {
  padding: 20px;
  animation: 1s rotateIn;
}

.projectTitle {
  background-color: white;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: -1px;
  padding: 10px;
  border: 1px solid black;
  z-index: 2;
  text-align: center;
  border-top-right-radius: 7% 99%;
  border-bottom-left-radius: 28% 12%;
  border-bottom-right-radius: 12.5% 25%;
  border-top-left-radius: 12% 18%;
}

.imageSlider {
max-width: 800px;
height: 400px;
margin: 0 auto;
position: relative;
overflow: hidden;
border: 1px solid black;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.837) 10px 10px;
text-align: left;
}

.projectImage {
  border: 7px double black;
  border-radius: 5px;
  background-color: lightgray;
  margin: 0 auto;
  margin-bottom: -5px;
  z-index: 1;
}

.projectContent {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.837) 5px 5px;
  border: 1px solid black;
  border-top-right-radius: 7% 99%;
  border-bottom-left-radius: 28% 12%;
  border-bottom-right-radius: 12.5% 25%;
  border-top-left-radius: 12% 18%;
  overflow: hidden;
}

.projectContent .projectTileTech {
  padding-left: 0;
}

.projectLinks {
  list-style-type: none;
  padding-inline-start: 0;
  line-height: 1.5;
}

.projectLinks li::before {
  content: '==> '
}

.projectButtons {
  display: flex;
  max-width: 600px;
  margin: 0 auto 50px;
  justify-content: space-between;
}

@media screen and (min-width: 1194px) {
  .projectButtons {
    display: flex;
    position: absolute;
    top: 50%;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.projectButton {
  border: 2px solid black;
  padding: 8px 20px;
  box-shadow:rgba(0, 0, 0, 0.837) 1px 1px;
  top: 0;
  left: 0;
  border-top-right-radius: 50% 99%;
  border-top-left-radius: 88% 12%;
  border-bottom-left-radius: 12.5% 25%;
  border-bottom-right-radius: 12% 88%;
  transition: all 500ms;
}

.projectButton:hover {
  position: relative;
  top: -6px;
  left: -6px;
  box-shadow:rgba(0, 0, 0, 0.837) 6px 6px;
}

.projectButton:active {
  top: 10px;
  left:10px;
  box-shadow: rgba(0, 0, 0, 0.837) -3px -3px;
  border-right: 10px solid rgba(0, 0, 0, 0.837);
  border-bottom: 10px solid rgba(0, 0, 0, 0.837);
}


.prevButton {
  border-top-left-radius: 50% 99%;
  border-top-right-radius: 88% 12%;
  border-bottom-left-radius: 12.5% 25%;
  border-bottom-right-radius: 12% 88%;
}

/* Animations */

@media (prefers-reduced-motion: no-preference) {
   .imageSlider, .projectSlider
  {
    animation: borderFloat  10s infinite alternate;
  }
  .projectContent, .projectTile {
    animation: borderFloatSoft 20s infinite alternate;
  }
}

@keyframes borderFloat{
  from {
    border-top-right-radius: 7% 99%;
    border-bottom-left-radius: 28% 12%;
    border-bottom-right-radius: 12.5% 25%;
    border-top-left-radius: 12% 18%;
    box-shadow: rgba(0, 0, 0, 0.837) 10px 10px;
  }
  50% {
    border-bottom-left-radius: 79% 9%;
    border-top-right-radius: 82% 21%;
    border-top-left-radius: 5.1% 52%;
    border-bottom-right-radius: 21% 81%;
    box-shadow: rgba(0, 0, 0, 0.837) 0px -0px;
  }
  to {
    border-bottom-left-radius: 7% 99%;
    border-top-right-radius: 28% 12%;
    border-top-left-radius: 12.5% 25%;
    border-bottom-right-radius: 12% 18%;
    box-shadow: rgba(0, 0, 0, 0.837) -10px -10px;
  }
}

@keyframes borderFloatSoft{
  from {
    border-top-right-radius: 7% 99%;
    border-bottom-left-radius: 28% 12%;
    border-bottom-right-radius: 12.5% 25%;
    border-top-left-radius: 12% 18%;
    box-shadow: rgba(0, 0, 0, 0.837) 10px 10px;
  }
  50% {
    border-top-right-radius: 7% 69%;
    border-bottom-left-radius: 18% 21%;
    border-top-left-radius: 30% 52%;
    border-bottom-right-radius: 21% 81%;
    box-shadow: rgba(0, 0, 0, 0.837) 0px 0px;
  }
  to {
    border-top-right-radius: 27% 89%;
    border-bottom-left-radius: 28% 12%;
    border-bottom-right-radius: 12.5% 25%;
    border-top-left-radius: 12% 18%;
    box-shadow: rgba(0, 0, 0, 0.837) 10px 10px;
  }
}

@keyframes colorChange{
  from {
    background-color: black;
    color: gold

  }
  to {
    background-color: gold;
    color: black;
 
  }
}

/* About */

.aboutTopSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aboutPageSummary {
 /* previously defined with .optionalTextSection */
  max-width: 20%;
  padding: 20px 60px;
  background-color: gold;
}

@media screen and (max-width: 500px) {
  .aboutPageSummary {
    max-width: 90%;
  }
}

.aboutTextSection, .contactInfo {
  background-color: gold;
  padding: 20px;
  opacity: 0.9;
  box-shadow: gray 8px 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 400px;
}

.aboutExtraText {
  padding: 0 40px;
}

@media screen and (min-width: 768px) {
  .aboutTextSection {
    margin-right: 45%;
  }
}

/* Contact */

.contactTopSection {
  margin-top: 5%;
}

.contactImage {
  z-index: 1;
}

/* ContactInfo */

.contactInfo {
  z-index: 0;
  margin-top: -30px;
  opacity: 1;
  background-color: rgb(255, 217, 0);
}

.contactTable{
  margin: 0 auto;
  z-index: 0;
}

.contactKey {
  text-align: left;
}

.contactValue {
  text-align: right;
}

/* Animations */


.noise {
  width: 300px;
  height: 300px;
  padding: 200px;
  margin-bottom: 100px;
  color: transparent;
  font-size: 24px;
  letter-spacing: 1.2em;
  background: radial-gradient(
    blue 0%,
    transparent 25%,
    blue 66%
  ), url(http://localhost:3000/images/pattern.svg);
  filter: contrast(170%) brightness(500%);
  position: relative;
  opacity: 1;
  z-index: 1;
}

.noise::before {
  width: 300px;
  height: 300px;
  content: 'hallo';
  color: white;
  background: radial-gradient(
    blue 30%,
    transparent 65%,
    blue 96%

  ), url(http://localhost:3000/images/pattern.svg);
  filter: contrast(190%) brightness(700%);
  opacity: 0;
  z-index: 2;
  padding: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.noise::after {
  width: 300px;
  height: 300px;
  content: 'hallo';
  color: white;
  background: radial-gradient(
    blue 60%,
    transparent 85%,
    blue 96%
  ), url(http://localhost:3000/images/pattern.svg);
  filter: contrast(190%) brightness(700%);
  opacity: 0;

  z-index: 1;
  padding: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.noiseFinal {
  width: 300px;
  height: 300px;
  content: 'hallo';
  color: white;
  background: radial-gradient(
    transparent 0%,
    blue 25%,
    transparent 97%
  ), url(http://localhost:3000/images/pattern.svg);
  filter: contrast(190%) brightness(700%);
  opacity: 0;
  z-index: 4;
  padding: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}

@keyframes grainSeaFirst0 {
  0% {
    opacity: 1;
    transform: rotate(540deg);
  }

  33% {
    opacity: 1;

  }

  66% {
    opacity: 1;

  }

  100% {
    opacity: 1;
  }
} 

@keyframes grainSeaBefore1 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;

  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
} 

@keyframes grainSeaAfter2 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;


  }

  100% {
    opacity: 0;
  }
} 

@keyframes grainSeaFinal3 {
  0% {
    opacity: 0;

  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
    filter: brightness(1000%) contrast(500%);


  }
} 



/* Chrome-specific
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .noise {
    filter: contrast(290%) brightness(1000%);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .noise {
    animation: grainSeaFirst0 3s infinite alternate-reverse;
  }
  
  .noise::before {
    animation: grainSeaBefore1 2s infinite alternate-reverse;
  }
  .noise::after {
    animation: grainSeaAfter2 1s infinite alternate-reverse;
  }
  .noiseFinal {
    animation: grainSeaFinal3 4s infinite alternate-reverse;
  }

  .contactInfo {
    animation: grainSeaFirst0 3s 1;
  }
}

@keyframes grainSea {
  0% {
    
    background-position: 0% 50%;
    filter: contrast(370%) brightness(500%)
  }
  50% {
    
    filter: contrast(100%) brightness(200%);
  }

  100% {
   
    filter: contrast(240%) brightness(1000%) ;
  }
} 

@keyframes grainSeaWave {
  0% {
    background: conic-gradient(
      blue 0%,
      transparent 25%,
      blue 66%

    ), url(http://localhost:3000/images/pattern.svg);
    filter: contrast(170%) brightness(500%);

  }
  50% {
    background: conic-gradient(
      blue 15%,
      transparent 40%,
      blue 81%
    ), url(http://localhost:3000/images/pattern.svg);
    filter: contrast(190%) brightness(700%);
  }

  100% {
    background: conic-gradient(
      blue 30%,
      transparent 55%,
      blue 96%
    ), url(http://localhost:3000/images/pattern.svg);
    filter: contrast(210%) brightness(900%);
  }
} 

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: moccasin; */
  mix-blend-mode: multiply;
}

.isolate {
  isolation: isolate;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}