.App {
  text-align: center;
}


.App-header {
  max-height: 70px;
  display: flex;
  justify-content: center;
  border: 1px dashed gold;
}


nav {
  border: 1px dotted lightblue;
  display: flex;
  
}

nav ul {
  display: flex;
  justify-items: center;
  padding-inline-start: 0;
  padding: 0 8px;
}

nav li {
  list-style-type: none;
  background-color: black;
  padding: 8px;
  margin: 0px 4px;
  border-right: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
}

nav a {
  color: white;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: item-float infinite 3s ease-in-out;
  }
}

@keyframes item-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} 