body {
  background: linear-gradient(0.75turn,rgb(0,217,255),rgb(201, 247, 255));
}

.App {
  text-align: center;
  max-width: 1024px;
  margin: 0px auto;
}


.App-header {
  max-height: 70px;
  display: flex;
  justify-content: center;
  border: 1px dashed gold;
}


nav {
  border: 1px dotted lightblue;
  display: flex;
  
}

nav ul {
  display: flex;
  justify-items: center;
  padding-inline-start: 0;
  padding: 0 8px;
}

nav li {
  list-style-type: none;
  background-color: black;
  padding: 8px;
  margin: 0px 4px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

nav a {
  color: white;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .heroImage {
    animation: item-float infinite 3s ease-in-out;
  }
}

@keyframes item-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} 

/* Main */

/* Home */
.heroSection {
  border: 1px dashed gold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.heroButtons {
  border: 1px dashed gold;
  padding: 20px 0;
}

.heroButtons button {
  color: white;
  border-radius: 5px;
  list-style-type: none;
  background-color: black;
  padding: 8px 16px;
  margin: 0px 4px;
  border: none;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.optionalTextSection, .optionalLogoSection {
  background-color: white;
  padding: 20px;
  opacity: 0.9;
  box-shadow: gray 8px 10px;
}

.optionalLogoSection {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logoList {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-inline-start: 0;
}

.logoList li {
  /* styles for logo list items */
}

/* Projects */

.projectSlider {
  border: 2px dashed gold;
  height: 400px;
}

.projectList {
  border: 2px dashed gold;
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectTile {
  border: 2px dashed purple;
  background-color: gold;
  height: 300px;
  width: 400px;
  margin: 10px;
}